@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap");

// Variables
$px: 5%;
$col-dark: #181719;
$col-light: #a9a9a9;
$col-light-2: #f2f2f2;
$col-gray: #828282;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $col-dark;
}

// Header & Nav
header {
  padding: 40px $px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Crimson Pro", serif;
    border: 1px solid #fff;
    padding: 8px;
  }

  .navbar {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li:not(:last-child) {
        margin-right: 80px;
      }

      li.active {
        font-weight: bold;
      }
    }
  }

  .menu-btn {
    display: none;
  }
}

// Grid
.grid {
  padding: 100px $px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  // gap: 100px;

  .grid-info,
  .grid-img {
    width: 100%;
  }

  .grid-info {
    color: #fff;

    h1 {
      font-family: "Lora", serif;
      font-size: 48px;
      margin-bottom: 40px;
    }

    p {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 40px;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      display: flex;

      i {
        margin-left: 20px;
      }
    }
  }

  .grid-img {
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      max-width: 80%;
    }

    .card {
      position: absolute;
      bottom: 0;
      right: 4%;
      transform: translateY(50%);
      padding: 20px;
      background-color: $col-dark;
      color: #fff;
      -moz-box-shadow: $shadow;
      -webkit-box-shadow: $shadow;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        align-items: center;
        padding: 10px;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 20px;
        }

        div {
          .name {
            font-size: 14px;
            margin-bottom: 8px;
          }

          .title {
            font-size: 12px;
            color: $col-gray;
          }
        }
      }

      h2 {
        font-family: "Lora", serif;
        width: 70%;
        margin-top: 20px;
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 40px 0;
  color: $col-light;
  font-size: 14px;
  font-weight: 600;
}
